## template:jinja
PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
{% if http != "" %}
http_proxy="{{http}}"
HTTP_PROXY="{{http}}"
{% endif %}
{% if https != "" %}
https_proxy="{{https}}"
HTTPS_PROXY="{{https}}"
{% endif %}
{% if no_proxy != "" %}
no_proxy="{{no_proxy}}"
NO_PROXY="{{no_proxy}}"
{% endif %}
