## template:jinja
[Service]
{% if http %}
Environment="HTTP_PROXY={{http}}"
{% endif %}
{% if https %}
Environment="HTTPS_PROXY={{https}}"
{% endif %}
{% if no_proxy %}
Environment="NO_PROXY={{no_proxy}}"
{% endif %}
