## template:jinja
{
  "exec-opts": ["native.cgroupdriver=systemd"],
{% if insecure_registries %}
  "insecure-registries": [ "{{insecure_registries|join('", "')}}" ],
{% endif %}
{% if registry_mirrors %}
  "registry-mirrors": [ "{{registry_mirrors|join('", "')}}" ],
{% endif %}
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2"
}
