[Unit]
Description=Create udev rules that renames the network interfaces with the "eno" prefix
Before=systemd-udev-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rename-interface
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
